Repository LarsArtmann/template-arch-lint: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

Path conditions:
  go-arch-lint: any of: \.go$
  golangci-lint: any of: \.go$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  check-problematic-filenames: any of: .*

chore(flake): update Nix flake configuration for arch-lint template
  flake.nix
Due: check-problematic-filenames

chore(deps): update Go module and Nix flake dependencies
  flake.lock
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore(deps): update go modules and flake lockfile
  flake.nix
Due: check-problematic-filenames

Remove dead systems and treefmt-nix inputs from flake.nix
  flake.lock
  flake.nix
Due: check-problematic-filenames

chore: reformat shell scripts with tabs and align with project style
  bootstrap.sh
  flake.lock
  go.mod
  go.sum
  scripts/check-cmd-single.sh
  scripts/compare-arch-configs.sh
  scripts/install-lint-config.sh
  scripts/test-cmd-single.sh
Due: go-mod-tidy, check-problematic-filenames

chore(bootstrap): replace npm cache cleanup hint with pnpm store prune
  bootstrap.sh
Due: check-problematic-filenames

chore: auto-commit 1 changed file(s) (heuristic)
  .config/metadata.yaml
Due: check-problematic-filenames

chore: auto-commit 10 changed file(s) (heuristic)
  .config/metadata.yaml
  .github/workflows/benchmark.yml
  .github/workflows/status.yml
  .golangci.yml
  flake.lock
  go.mod
  go.sum
  internal/config/config.go
  pkg/linter-plugins/template-arch-lint/go.mod
  pkg/linter-plugins/template-arch-lint/go.sum
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

chore: auto-commit 1 changed file(s) (heuristic)
  flake.nix
Due: check-problematic-filenames

chore: auto-commit 3 changed file(s) (heuristic)
  flake.lock
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore: upgrade httputil v1.1.1 -> v1.2.0
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

build(deps): bump the unimported go-etag require to v0.6.0 (module split era)
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore: auto-commit 2 changed file(s) (heuristic)
  .config/metadata.yaml
  README.md
Due: check-problematic-filenames

chore: auto-commit 5 changed file(s) (heuristic)
  .golangci.yml
  README.md
  flake.lock
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore: auto-commit 3 changed file(s) (heuristic)
  README.md
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore: auto-commit 1 changed file(s) (heuristic)
  AGENTS.md
Due: check-problematic-filenames

chore: auto-commit 1 changed file(s) (heuristic)
  bootstrap.sh
Due: check-problematic-filenames

chore: auto-commit 2 changed file(s) (heuristic)
  docs/status/2026-09-29_07-40_session-repositioning-and-stale-docs-purge.md
  scripts/install-lint-config.sh
Due: check-problematic-filenames

chore: auto-commit 5 changed file(s) (heuristic)
  docs/status/2026-09-29_07-40_session-repositioning-and-stale-docs-purge.md
  flake.lock
  go.mod
  go.sum
  pkg/errors/errors.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

chore: auto-commit 1 changed file(s) (heuristic)
  flake.lock
Due: check-problematic-filenames

chore: auto-commit 9 changed file(s) (heuristic)
  .github/workflows/benchmark.yml
  .github/workflows/ci-working.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/status.yml
  .github/workflows/test.yml
  flake.lock
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore: auto-commit 1 changed file(s) (heuristic)
  go.sum
Due: go-mod-tidy, check-problematic-filenames

Bump gobwas/glob to v1.0.0
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore: auto-commit 1 changed file(s) (heuristic)
  internal/domain/ids/ids.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames
