Repository LarsArtmann/template-arch-lint: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

go-arch-lint:
  name: üèóÔ∏è  Architecture Validation (go-arch-lint)
  description: Enforces Clean Architecture boundaries
  entry: bash
  language: system
  args:
  - -c
  ...

golangci-lint:
  name: üìù Code Quality (golangci-lint)
  description: Enforces code quality standards and catches bugs
  entry: bash
  language: system
  args:
  - -c
  ...

gofmt:
  name: üé® Format Go code (gofmt)
  description: Formats Go code with standard formatting
  entry: gofmt
  language: system
  args:
  - -w
  - -s
  pass_filenames: true

goimports:
  name: üì¶ Organize imports (goimports)
  description: Organizes Go imports and removes unused ones
  entry: bash
  language: system
  args:
  - -c
  ...

go-mod-tidy:
  name: üìã Tidy Go modules (go mod tidy)
  description: Ensures go.mod and go.sum are up to date
  entry: bash
  language: system
  args:
  - -c
  ...

check-problematic-filenames:
  name: üìÅ Check problematic filenames
  description: Prevents files with problematic characters in names
  entry: bash
  language: system
  args:
  - -c
  ...

📚 docs: Add comprehensive project documentation and refactor handlers
  .go-arch-lint.yml
  COMPREHENSIVE_ANALYSIS_REPORT.md
  COMPREHENSIVE_IMPLEMENTATION_REPORT.md
  internal/application/dto/responses.go
  internal/application/handlers/user_handler.go
  internal/application/http/response_helpers.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

✨ feat: Implement standardized API response system with DTOs
  .go-arch-lint.yml
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_handler_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

✨ feat: Implement comprehensive health checks and correlation ID middleware
  .go-arch-lint.yml
  internal/application/handlers/health_handler.go
  internal/application/middleware/correlation_middleware.go
  internal/application/middleware/request_logging_middleware.go
  internal/container/container.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🔧 fix: Add missing newline to Claude settings file
  .claude/settings.local.json
Due: check-problematic-filenames

🎨 style: Fix formatting and whitespace in example template
  example/.go-arch-lint.yml
  example/.golangci.yml
  example/README.md
  example/justfile
Due: check-problematic-filenames

🚫 feat: Prevent generated files from being committed to version control
  .gitignore
  .pre-commit-config.yaml
  internal/db/users.sql.go
  web/templates/components/user_components_templ.go
  web/templates/layouts/base_templ.go
  web/templates/pages/user_form_templ.go
  web/templates/pages/users_templ.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

⚡ perf: Fix slow pre-commit hooks with fast formatting-only option
  .claude/settings.local.json
  README.md
  justfile
Due: check-problematic-filenames

⬆️ deps: Update all dependencies to latest versions
  example/go.mod
  example/go.sum
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

🔧 feat: Add comprehensive duplication detection and issue analysis system
  .golangci.yml
  justfile
Due: check-problematic-filenames

🎨 style: Auto-format all code with gofumpt and goimports
  .claude/settings.local.json
  .go-arch-lint.yml
  architecture_suite_test.go
  direct-lint-output.txt
  docs/ADR-001-CYCLOMATIC-COMPLEXITY.md
  docs/ADR-002-COGNITIVE-COMPLEXITY.md
  docs/ADR-003-FUNCTION-LENGTH.md
  docs/CODE-STYLE-GUIDELINES.md
  docs/ERROR-HANDLING-BEST-PRACTICES.md
  example/internal/domain/services/product_service.go
  full-lint-output.txt
  internal/application/handlers/user_handler.go
  internal/application/handlers/validation_helpers.go
  internal/config/config_test.go
  internal/constants/constants.go
  internal/container/container.go
  internal/domain/entities/entities_suite_test.go
  internal/domain/entities/user.go
  internal/domain/entities/user_test.go
  internal/domain/errors/errors.go
  internal/domain/errors/service_errors.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_error_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/validation_test.go
  internal/infrastructure/persistence/schema_validation_test.go
  internal/infrastructure/persistence/user_repository_sql.go
  internal/infrastructure/persistence/user_repository_sqlc.go
  internal/integration_test.go
  internal/utils/database/connection.go
  internal/utils/database/database_test.go
  internal/utils/errors/errors.go
  internal/utils/errors/errors_test.go
  internal/utils/validation/validation.go
  internal/utils/validation/validation_test.go
  lint-output.txt
  web/templates/layouts/simple_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🔧 chore: Complete authentication infrastructure integration
  .claude/settings.local.json
  .readme/assets/language-trends.svg
  cmd/server/main.go
  internal/application/handlers/auth_handler.go
  internal/application/middleware/correlation_middleware.go
  internal/application/middleware/jwt_middleware.go
  internal/application/middleware/rate_limiter.go
  internal/application/middleware/rate_limiter_test.go
  internal/application/middleware/security_headers.go
  internal/application/middleware/security_headers_test.go
  internal/application/services/jwt_service.go
  internal/config/config.go
  internal/container/container.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🛡️ feat: Complete production security infrastructure integration
  internal/container/container.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🔧 fix: Complete architecture linting configuration after ghost cleanup
  .go-arch-lint.yml
  .readme/assets/language-trends.svg
Due: check-problematic-filenames

📏 feat: Add file length enforcement with 400-line limit
  .golangci.yml
Due: check-problematic-filenames

🏗️ feat: Add comprehensive enterprise-grade linting suite
  .golangci.yml
  justfile
Due: check-problematic-filenames

🚨 feat: Add sophisticated linting rules with structured logging enforcement
  .golangci.yml
Due: check-problematic-filenames

🔧 feat: Add intelligent error checking with function-specific exclusions
  .golangci.yml
Due: check-problematic-filenames

🤖 feat: Add cutting-edge 2024-2025 enterprise linting capabilities
  .golangci.yml
  .semgrep.yml
  justfile
Due: check-problematic-filenames

📚 docs: Add comprehensive user documentation for enterprise linting
  USER_DOCUMENTATION.md
Due: check-problematic-filenames

🔧 fix: Replace deprecated linters with modern equivalents
  .golangci.yml
  CLAUDE.md
Due: check-problematic-filenames

🔧 feat: Complete revolutionary README system with linting.just integration
  .claude/settings.local.json
  .golangci.yml
  .readme/configs/readme-config.yaml
  README.md
  gosec-report.json
  justfile
  scripts/install-lint-config.sh
Due: check-problematic-filenames

📊 docs: Add comprehensive golang.org/x/tools analyzer coverage analysis
  .claude/settings.local.json
  .github/workflows/lint.yml
  CLAUDE.md
  MODERNIZATION_LEARNINGS.md
  PERFORMANCE_ANALYSIS.md
  USER_DOCUMENTATION.md
  X_TOOLS_ANALYSIS.md
  internal/config/config.go
  internal/container/container.go
  justfile
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🔧 feat: Remove redundant security tools (nancy + osv-scanner) for optimal coverage
  USER_DOCUMENTATION.md
  justfile
Due: check-problematic-filenames

📝 docs: Clarify goconst magic string detection & emphasize copy-paste configs
  .golangci.yml
  README.md
Due: check-problematic-filenames

🚀 feat: Add ultra-reliable bootstrap installation system
  bootstrap.sh
  justfile
Due: check-problematic-filenames

📊 chore: Update language trends visualization
  .readme/assets/language-trends.svg
Due: check-problematic-filenames

📚 docs: Transform README with ultra-simple bootstrap installation
  README.md
Due: check-problematic-filenames

🚀 feat: Integrate comprehensive flag system and diagnostics into bootstrap.sh
  .claude/settings.local.json
  bootstrap.sh
  docs/architecture-understanding/2025-08-28_17-23-current-bootstrap-architecture.mmd
  docs/architecture-understanding/2025-08-28_17-23-improved-bootstrap-architecture.mmd
  docs/complaints/2025-08-28_17-20-bootstrap-troubleshooting.md
  docs/learnings/2025-08-28_17-21-bootstrap-integration-learnings.md
  docs/planning/2025-08-28-1652-pareto-optimization-analysis.md
  docs/prompts/2025-08-28_17-22-bootstrap-integration-enhancement.md
  docs/troubleshooting/bootstrap-failures.md
  test-bootstrap-local.sh
  test-bootstrap-ubuntu.sh
  test-complete-workflow.sh
  test-path-verification.sh
  test-simple-bootstrap.sh
Due: check-problematic-filenames

feat: Implement comprehensive error handling consolidation and BDD testing framework
  .claude/settings.local.json
  bootstrap.sh
  test-bootstrap-bdd.sh
  test-bootstrap-simple-bdd.sh
Due: check-problematic-filenames

fix: Update commit-msg hook to use current pre-commit path
  test-commit-hook.txt
Due: check-problematic-filenames

cleanup: Remove test file for commit hook validation
  test-commit-hook.txt
Due: check-problematic-filenames

feat: Implement single main.go enforcement for cmd/ directory
  justfile
  scripts/check-cmd-single.sh
Due: check-problematic-filenames

docs: Add WSL compatibility documentation
  docs/WSL-COMPATIBILITY.md
Due: check-problematic-filenames

chore: Update Claude Code settings and language trends assets
  .claude/settings.local.json
  .readme/assets/language-trends.svg
Due: check-problematic-filenames

Path conditions:
  go-arch-lint: any of: \.go$
  golangci-lint: any of: \.go$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  check-problematic-filenames: any of: .*
