Repository LarsArtmann/template-arch-lint: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

go-arch-lint:
  name: üèóÔ∏è  Architecture Validation (go-arch-lint)
  description: Enforces Clean Architecture boundaries
  entry: bash
  language: system
  args:
  - -c
  ...

golangci-lint:
  name: üìù Code Quality (golangci-lint)
  description: Enforces code quality standards and catches bugs
  entry: bash
  language: system
  args:
  - -c
  ...

gofmt:
  name: üé® Format Go code (gofmt)
  description: Formats Go code with standard formatting
  entry: gofmt
  language: system
  args:
  - -w
  - -s
  pass_filenames: true

goimports:
  name: üì¶ Organize imports (goimports)
  description: Organizes Go imports and removes unused ones
  entry: bash
  language: system
  args:
  - -c
  ...

go-mod-tidy:
  name: üìã Tidy Go modules (go mod tidy)
  description: Ensures go.mod and go.sum are up to date
  entry: bash
  language: system
  args:
  - -c
  ...

check-problematic-filenames:
  name: üìÅ Check problematic filenames
  description: Prevents files with problematic characters in names
  entry: bash
  language: system
  args:
  - -c
  ...

chore(config): normalize .golangci.yml indentation from 4-space to 2-space YAML format
  .golangci.yml
Due: check-problematic-filenames

chore(sdk-review): update go to 1.26.3, add flake.nix where needed
  go.mod
Due: go-mod-tidy, check-problematic-filenames

chore(config): add code of conduct and linter config
  .golangci.yml
  CODE_OF_CONDUCT.md
Due: check-problematic-filenames

chore(deps): update Go module dependencies across project
  go.mod
  go.sum
  pkg/linter-plugins/template-arch-lint/go.mod
  pkg/linter-plugins/template-arch-lint/go.sum
Due: go-mod-tidy, check-problematic-filenames

style(linter-plugins): apply gofmt and golangci-lint auto-fixes
  pkg/linter-plugins/template-arch-lint/cmd_single_main.go
  pkg/linter-plugins/template-arch-lint/code_duplication.go
  pkg/linter-plugins/template-arch-lint/filename_validator.go
  pkg/linter-plugins/template-arch-lint/import_cycles.go
  pkg/linter-plugins/template-arch-lint/main.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

style(linter-plugins): replace interface{} with any and remove dead code
  pkg/linter-plugins/template-arch-lint/code_duplication.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

chore(deps): update samber/mo to v1.17.0 and refresh transitive dependencies
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

feat(go): add Go module files
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

docs: add documentation files across project
  CODE_OF_CONDUCT.md
  internal/application/handlers/doc.go
  internal/domain/services/testhelpers/doc.go
  internal/infrastructure/db/doc.go
  internal/infrastructure/doc.go
  internal/testhelpers/base/doc.go
  internal/testhelpers/domain/entities/doc.go
  internal/testhelpers/domain/validation/doc.go
  internal/testhelpers/domain/values/doc.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

chore(deps): update transitive dependencies to latest stable versions
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

refactor(cmd): use github.com/larsartmann/httputil for HTTP lifecycle
  cmd/main.go
  go.mod
  go.sum
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

chore(deps): update Go transitive dependencies and linter plugin to latest stable versions
  go.mod
  go.sum
  pkg/linter-plugins/template-arch-lint/go.mod
  pkg/linter-plugins/template-arch-lint/go.sum
Due: go-mod-tidy, check-problematic-filenames

chore(deps): sync go.sum with all transitive dependencies from go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore(deps): bump onsi/gomega and charmbracelet/ultraviolet
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore(deps): clean up transitive dependencies and upgrade internal packages
  go.mod
  go.sum
  internal/domain/services/user_service.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

chore: remove justfile(s), add/update Nix flake, update Go dependencies
  flake.lock
  flake.nix
  go.sum
  justfile
  template-configs/justfile
Due: go-mod-tidy, check-problematic-filenames

chore(deps): bump all dependencies to latest
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore(deps): update httputil to v0.3.0, add Nix package build, clean go.sum
  .gitignore
  flake.nix
  go.mod
  go.sum
  internal/domain/services/user_service_concurrent_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

chore(deps): update Go toolchain to 1.26.4 and refresh all dependencies
  .golangci.yml
  flake.lock
  go.mod
  go.sum
  pkg/linter-plugins/template-arch-lint/go.mod
  pkg/linter-plugins/template-arch-lint/go.sum
Due: go-mod-tidy, check-problematic-filenames

chore(deps): comprehensive dependency refresh across Go, Nix, and project tooling
  .gitignore
  flake.lock
  flake.nix
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

refactor: adopt go-standard module (reduces flake.nix boilerplate)
  flake.lock
  flake.nix
Due: check-problematic-filenames

chore(deps): comprehensive refresh with encoding/json v2 migration
  flake.lock
  flake.nix
  go.mod
  go.sum
  internal/application/handlers/errorhandler.go
  internal/application/handlers/user_handler.go
  internal/domain/entities/user.go
  internal/domain/values/user_enums.go
  internal/domain/values/user_session.go
  pkg/linter-plugins/template-arch-lint/go.mod
  pkg/linter-plugins/template-arch-lint/go.sum
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

fix(ci): upgrade golangci-lint-action to v7
  .github/workflows/ci-working.yml
Due: check-problematic-filenames

Add GOEXPERIMENT=jsonv2 and replace govulncheck-action@v1 with go run approach
  .github/workflows/ci-working.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: check-problematic-filenames

docs(learnings): reformat YAML examples and comparison table alignment
  docs/learnings/2025-08-26_18-04_MODERNIZATION_LEARNINGS.md
Due: check-problematic-filenames

refactor(errors): migrate to generic errors.AsType and document sentinel uses
  internal/domain/services/user_service.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_error_test.go
  internal/domain/services/user_service_test.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

refactor(values): deduplicate JSON and SQL string unmarshaling for enums
  internal/domain/values/user_enums.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

chore: modernize lint config, switch to encoding/json/v2, and tidy helpers
  .gitattributes
  .golangci.yml
  flake.lock
  internal/application/handlers/errorhandler.go
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_query_handler_working_test.go
  internal/domain/entities/user_json_test.go
  internal/domain/entities/user_split_brain_test.go
  internal/domain/ids/ids_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/values_test.go
  pkg/errors/errors.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

chore(deps): update Go module dependencies and Nix flake inputs
  flake.lock
  flake.nix
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore(deps): update Go and Nix dependency lockfiles
  flake.lock
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

chore(tooling): update Go module dependencies and add EditorConfig
  .editorconfig
  go.mod
  pkg/linter-plugins/template-arch-lint/go.mod
Due: go-mod-tidy, check-problematic-filenames

chore(flake): update flake.nix configuration
  flake.nix
Due: check-problematic-filenames

chore(deps): update Go module dependencies
  go.mod
  pkg/linter-plugins/template-arch-lint/go.mod
Due: go-mod-tidy, check-problematic-filenames

chore(deps): update module dependencies
  docs/USAGE.md
  go.mod
  go.sum
  pkg/linter-plugins/template-arch-lint/go.mod
Due: go-mod-tidy, check-problematic-filenames

chore(deps): update dependencies and sync documentation
  flake.nix
Due: check-problematic-filenames

refactor(domain): improve email value object implementation
  internal/domain/values/email.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

feat(domain): add email-based deduplication support
  docs/dedup-acceptance.md
  internal/domain/ids/ids.go
  internal/domain/values/email.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

docs(status): add deduplication pass status report
  docs/status/2026-07-28_12-22_DEDUPLICATION_PASS.md
Due: check-problematic-filenames

chore(deps): deduplicate go module dependencies and update documentation
  docs/dedup-acceptance.md
  docs/status/2026-07-28_12-22_DEDUPLICATION_PASS.md
  flake.lock
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

Path conditions:
  go-arch-lint: any of: \.go$
  golangci-lint: any of: \.go$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  check-problematic-filenames: any of: .*
