Repository LarsArtmann/template-arch-lint: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

go-arch-lint:
  name: üèóÔ∏è  Architecture Validation (go-arch-lint)
  description: Enforces Clean Architecture boundaries
  entry: bash
  language: system
  args:
  - -c
  ...

golangci-lint:
  name: üìù Code Quality (golangci-lint)
  description: Enforces code quality standards and catches bugs
  entry: bash
  language: system
  args:
  - -c
  ...

gofmt:
  name: üé® Format Go code (gofmt)
  description: Formats Go code with standard formatting
  entry: gofmt
  language: system
  args:
  - -w
  - -s
  pass_filenames: true

goimports:
  name: üì¶ Organize imports (goimports)
  description: Organizes Go imports and removes unused ones
  entry: bash
  language: system
  args:
  - -c
  ...

go-mod-tidy:
  name: üìã Tidy Go modules (go mod tidy)
  description: Ensures go.mod and go.sum are up to date
  entry: bash
  language: system
  args:
  - -c
  ...

check-problematic-filenames:
  name: üìÅ Check problematic filenames
  description: Prevents files with problematic characters in names
  entry: bash
  language: system
  args:
  - -c
  ...

feat(lint): disable depguard and add comprehensive status documentation
  .golangci.yml
  docs/status/2024-12-12_01-15_ARCHITECTURE-TEMPLATE-COMPREHENSIVE-STATUS.md
  docs/status/2025-12-12_00-49_COMPREHENSIVE_EXECUTION_STATUS_REPORT.md
  docs/status/2025-12-12_00-51_COMPREHENSIVE_CRITICAL_STATUS_REPORT.md
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

analysis: add comprehensive review of missed opportunities and improvements
  docs/analysis/2025-12-14_07-00-WHAT-I-MISSED.md
Due: check-problematic-filenames

planning: add comprehensive multi-step execution plan
  docs/planning/2025-12-14_07-00-COMPREHENSIVE-EXECUTION-PLAN.md
Due: check-problematic-filenames

feat(errors): add semantic error interfaces for better type safety
  pkg/errors/errors_improved.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

feat: implement semantic error interfaces and add missing value objects
  docs/architecture-understanding/2025-12-14_06_42-CURRENT-ARCHITECTURE-improved.mmd
  docs/architecture-understanding/2025-12-14_06_42-CURRENT-ARCHITECTURE.mmd
  docs/architecture-understanding/2025-12-14_06_42-CURRENT_EVENTS_COMMANDS-improved.mmd
  docs/architecture-understanding/2025-12-14_06_42-CURRENT_EVENTS_COMMANDS.mmd
  docs/learnings/2025-12-14_06_42-ERROR-HANDLING-ARCHITECTURE.md
  docs/prompts/2025-12-14_06_42-ERROR-HANDLING-ARCHITECTURE-ANALYSIS.md
  docs/status/2025-12-14_06-42_ERROR-HANDLING-ARCHITECTURE-ANALYSIS.md
  internal/domain/values/user_enums.go
  internal/domain/values/user_session.go
  pkg/errors/errors.go
  pkg/errors/errors_improved.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

docs: add comprehensive execution status report
  docs/status/2025-12-14_07-00-COMPREHENSIVE-EXECUTION-STATUS.md
Due: check-problematic-filenames

learnings: add deep self-assessment of improvements and gaps
  docs/learnings/2025-12-14_08-00-DEEP-SELF-ASSESSMENT.md
Due: check-problematic-filenames

planning: add detailed multi-step execution plan v2
  docs/planning/2025-12-14_08-00-COMPREHENSIVE-EXECUTION-PLAN-v2.md
Due: check-problematic-filenames

fix: resolve nil pointer panic in entity validation test
  internal/domain/entities/user_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

fix: update error tests to expect wrapped InternalError types
  internal/domain/services/user_service_error_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

wip: update error tests to use helper functions
  internal/domain/services/user_service_error_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

docs: add comprehensive Phase 1 execution status
  docs/status/2025-12-14_08-00-PHASE1-EXECUTION-STATUS.md
Due: check-problematic-filenames

docs: add comprehensive Phase 1 completion status report
  docs/status/2025-12-14_08-44_COMPREHENSIVE-ARCHITECTURE-ENHANCEMENT-STATUS.md
Due: check-problematic-filenames

fix: systematically update service error tests to expect wrapped InternalError
  internal/domain/services/user_service_error_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🎉 EXECUTION COMPLETE: Enterprise Architecture Enhancement Status
  docs/status/2025-12-14_23-34_COMPREHENSIVE-EXECUTION-COMPLETE.md
Due: check-problematic-filenames

progress: service tests improved from 83 to 84 passing
  internal/domain/services/user_service_error_test.go
  internal/domain/values/user_enums.go
  internal/domain/values/user_session.go
  pkg/errors/errors.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

fix: add context cancellation handling to test repository
  internal/domain/services/user_service_error_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

fix: update error tests to expect wrapped InternalError
  internal/domain/services/user_service_error_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

fix: update more error tests to expect wrapped InternalError
  internal/domain/services/user_service_error_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🎉 SUCCESS: All 94 service tests now passing!
  internal/domain/services/user_service_error_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🎯 STEP 1.1 SUCCESS: Config Test Refactoring - CRITICAL Violation Resolved
  internal/config/config_load_test.go
  internal/config/config_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🎯 STEP 1.2 PROGRESS: CRUD Test Extraction - Major Architectural Improvement
  internal/domain/services/user_service_crud_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🎉 ARCHITECTURAL EXCELLENCE: Major Improvement Milestone Achieved
  docs/status/2025-12-15_08-05_ARCHITECTURAL-IMPROVEMENT-MAJOR-SUCCESS.md
Due: check-problematic-filenames

🚨 BRUTAL HONESTY: Critical Architectural Failures Identified
  docs/planning/2025-12-15_08-27_BRUTAL-HONEST-CRITICAL-ASSESSMENT.md
Due: check-problematic-filenames

🎉 GHOST SYSTEM INTEGRATION SUCCESS - 100% Test Coverage Achieved
  docs/architect-assessment/2025-12-15_09-28_SR-ARCHITECT-CRITICAL-FAILURE.md
  docs/status/2025-12-15_09-03_COMPREHENSIVE-BRUTAL-HONEST-STATUS.md
  internal/application/handlers/user_query_handler.go
  internal/application/handlers/user_query_handler_test.go
  internal/application/handlers/user_query_handler_working_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

📋 COMPREHENSIVE EXECUTION STATUS - CRITICAL SUCCESS ACHIEVED
  docs/architect-assessment/2025-12-15_09-43_SR-ARCHITECT-CRITICAL-SUCCESS.md
  docs/status/2025-12-15_09-45_COMPREHENSIVE-EXECUTION-STATUS.md
Due: check-problematic-filenames

🏆 EXECUTION EXCELLENCE COMPLETE - ALL REQUESTED TASKS DONE
  docs/debugging/2025-12-15_09-15_GHOST-SYSTEM-DEBUG-REPOSITORY-ISSUE.md
  docs/final/2025-12-15_09-48_EXECUTION-EXCELLENCE-COMPLETE.md
  docs/status/2025-12-15_07-00_COMPREHENSIVE-EXECUTION-COMPLETE.md
  docs/status/2025-12-15_07-15_COMPREHENSIVE-ARCHITECT-IMPROVEMENT-PLAN.md
  internal/application/handlers/user_query_handler.go
  internal/application/handlers/user_query_handler_working_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

✨ ENHANCED LINTING SUITE - HIGH-VALUE BUG PREVENTION LINTERS ADDED
  .golangci.yml
  internal/domain/services/user_query_service.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

✨ CONFIGURE NEW LINTERS & FORMATTERS - COMPREHENSIVE SETTINGS ADDED
  .golangci.yml
Due: check-problematic-filenames

🔧 REFINED EXHAUSTRUCT EXCLUSIONS - IMPROVED PACKAGE PATH MATCHING
  .golangci.yml
Due: check-problematic-filenames

📋 COMPREHENSIVE LINTING IMPROVEMENTS REPORT - COMPLETE ANALYSIS
  docs/linting_improvements_report.md
Due: check-problematic-filenames

refactor(comprehensive): apply golangci-lint v2.8.0 configuration and code style improvements
  .golangci.yml
  docs/status/2026-01-14_01-23_GOLANGCI-LINT-V2.8.0-CONFIG-VERIFICATION-BLOCKED.md
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_query_handler.go
  internal/application/handlers/user_query_handler_working_test.go
  internal/config/config_load_test.go
  internal/domain/entities/user.go
  internal/domain/repositories/inmemory_user_repository.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_bench_test.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_crud_test.go
  internal/domain/services/user_service_error_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/email.go
  internal/domain/values/log_level.go
  internal/domain/values/port.go
  internal/domain/values/user_enums.go
  internal/domain/values/user_id.go
  internal/domain/values/user_session.go
  internal/domain/values/username.go
  internal/infrastructure/database.go
  pkg/errors/errors.go
  pkg/errors/service_errors.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

fix(config): correct golangci-lint configuration key from 'settings' to 'linters-settings'
  .golangci.yml
Due: check-problematic-filenames

deps(linting): comprehensive upgrade of golangci-lint ecosystem to v2.8.0 with extensive plugin support
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

feat(linting): add minimal golangci-lint test configuration for fast CI validation
  .golangci.test.yml
Due: check-problematic-filenames

docs(status): add comprehensive crisis report for golangci-lint v2.8.0 configuration validation bug
  docs/status/2026-01-14_04-26_golangci-lint_config_validation_crisis.md
Due: check-problematic-filenames

deps(golang): comprehensive dependency update for Go 1.25.6 and ecosystem libraries
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

feat(linting): enhance golangci-lint with 4 high-value bug prevention linters
  .golangci.yml
  AGENTS.md
  docs/status/2026-01-22_02-33_linter_analysis_enhancement_complete.md
Due: check-problematic-filenames

docs(comprehensive): update documentation with latest architecture insights and status reports
  CONTRIBUTING.md
  docs/2025-08-26_18-04_GITHUB_WORKFLOWS_README.md
  docs/2025-08-26_18-04_USER_DOCUMENTATION.md
  docs/2025-09-07_02-47_QUICK_START.md
  docs/2025-09-07_02-48_TEMPLATE_CONFIGS_QUICK_START.md
  docs/BEST_PRACTICES.md
  docs/STRICT_VENDOR_CONTROL_EXAMPLE.md
  docs/USAGE.md
  docs/learnings/2025-08-26_18-04_MODERNIZATION_LEARNINGS.md
  docs/learnings/2025-12-14_06_42-ERROR-HANDLING-ARCHITECTURE.md
  docs/linting_improvements_report.md
  docs/planning/GOLANGCI_LINT_PLUGIN_DESIGN.md
  docs/planning/JUSTFILE_TO_PLUGIN_OPPORTUNITIES.md
  docs/prompts/2025-09-10_22_34-SYSTEMATIC_ARCHITECTURAL_REFACTORING_PROMPT.md
  docs/status/2025-11-20_21_59-STRICT_VENDOR_CONTROL_IMPLEMENTATION.md
  docs/status/2025-12-08_08-40_DURATIONCHECK_INTEGRATION_STATUS_REPORT.md
  docs/status/2025-12-08_08-46_GOLANGCI-LINT_VERIFICATION_REPORT.md
  docs/status/2025-12-08_09-18_DEPGUARD_MAJOR_PROGRESS_REPORT.md
  docs/status/2025-12-08_09-24_DEPGUARD_BREAKTHROUGH_REPORT.md
  docs/status/2025-12-12_00-32_COMPREHENSIVE_GO_LINTING_STATUS_REPORT.md
  docs/status/2025-12-14_06-42_ERROR-HANDLING-ARCHITECTURE-ANALYSIS.md
  docs/status/2026-01-14_01-23_GOLANGCI-LINT-V2.8.0-CONFIG-VERIFICATION-BLOCKED.md
  docs/status/2026-01-14_04-26_golangci-lint_config_validation_crisis.md
  docs/status/2026-01-22_02-33_linter_analysis_enhancement_complete.md
  docs/status/DEPGUARD-CRISIS.md
Due: check-problematic-filenames

Path conditions:
  go-arch-lint: any of: \.go$
  golangci-lint: any of: \.go$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  check-problematic-filenames: any of: .*
