Repository LarsArtmann/template-arch-lint: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

Path conditions:
  go-arch-lint: any of: \.go$
  golangci-lint: any of: \.go$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  check-problematic-filenames: any of: .*

feat: Complete CMD single main enforcement system with comprehensive implementation
  .pre-commit-config.yaml
  CLAUDE.md
  docs/CROSS_PLATFORM_COMPATIBILITY.md
  docs/planning/2025-09-06_11_45-CMD_SINGLE_MAIN_ENFORCEMENT.md
  docs/planning/GOLANGCI_LINT_PLUGIN_DESIGN.md
  docs/planning/JUSTFILE_TO_PLUGIN_OPPORTUNITIES.md
  go-arch-lint-graph.svg
  scripts/check-cmd-single.sh
  scripts/test-cmd-single.sh
Due: check-problematic-filenames

docs: Add comprehensive final status report for CMD single main enforcement
  docs/planning/FINAL_STATUS_REPORT_2025-09-06.md
Due: check-problematic-filenames

chore: Update Claude Code settings with GitHub CLI permissions
  .claude/settings.local.json
Due: check-problematic-filenames

refactor: Eliminate database complexity to focus on core linting template value
  .claude/settings.local.json
  .gitignore
  cmd/server/main.go
  docs/planning/2025-09-06_13_25-80_20_EXECUTION_PLAN.md
  go.mod
  go.sum
  internal/application/handlers/health_handler.go
  internal/container/container.go
  internal/db/db.go
  internal/db/models.go
  internal/db/querier.go
  internal/infrastructure/persistence/schema_validation_test.go
  internal/infrastructure/persistence/user_repository_memory.go
  internal/infrastructure/persistence/user_repository_sql.go
  internal/infrastructure/persistence/user_repository_sql_bench_test.go
  internal/infrastructure/persistence/user_repository_sql_test.go
  internal/infrastructure/persistence/user_repository_sqlc.go
  justfile
  sql/queries/users.sql
  sql/schema/001_users.sql
  sqlc.yaml
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

fix: Update .go-arch-lint.yml after database removal
  .go-arch-lint.yml
Due: check-problematic-filenames

feat: Upgrade to golangci-lint v2.4.0 with 6 powerful new linters
  .golangci.yml
  cmd/linter/main.go
  cmd/server/main.go
  internal/domain/services/user_service_bench_test.go
  justfile
  plugins/template-arch-lint/cmd_single_main.go
  plugins/template-arch-lint/code_duplication.go
  plugins/template-arch-lint/filename_validator.go
  plugins/template-arch-lint/go.mod
  plugins/template-arch-lint/go.sum
  plugins/template-arch-lint/import_cycles.go
  plugins/template-arch-lint/main.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

feat: Implement type safety foundation with domain value objects
  .custom-gcl.yml
  QUICK_START.md
  docs/planning/2025-09-06_23-20-nuclear-elimination-execution-plan.md
  internal/config/config.go
  internal/config/config_test.go
  internal/domain/values/env_var.go
  internal/domain/values/log_level.go
  internal/domain/values/port.go
  template-configs/.go-arch-lint.yml
  template-configs/.golangci.yml
  template-configs/QUICK_START.md
  template-configs/README.md
  template-configs/justfile
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

docs: Complete session documentation and GitHub issue management
  docs/sessions/2025-09-07-nuclear-elimination-completion.md
  internal/domain/values/env_var.go
  internal/domain/values/log_level.go
  internal/domain/values/port.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

docs: Complete GitHub issue organization and cleanup session
  docs/sessions/2025-09-07-github-issue-organization.md
Due: check-problematic-filenames

feat: Update golangci-lint Go version to 1.25 (latest stable)
  .golangci.yml
Due: check-problematic-filenames

feat: Comprehensive golangci-lint enhancement for Go 1.25 enterprise standards
  .golangci.yml
Due: check-problematic-filenames

feat: Enable go-arch-lint deep scanning - verified stable in v1.12.0
  .go-arch-lint.yml
Due: check-problematic-filenames

feat: Complete architectural refactoring Phase 1 - Foundation & Critical Fixes
  cmd/linter/main.go
  docs/planning/2025-09-10_17_21-COMPREHENSIVE_ARCHITECTURAL_REFACTORING.md
  go.mod
  go.sum
  internal/domain/services/user_query_service.go
  internal/domain/services/user_service.go
  internal/domain/values/email.go
  internal/domain/values/user_id.go
  internal/domain/values/username.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

docs: Complete comprehensive architectural documentation and session cleanup
  cmd/linter/main.go
  docs/architecture-understanding/2025-09-10_22_34-CURRENT_ARCHITECTURE.mmd
  docs/architecture-understanding/2025-09-10_22_34-CURRENT_EVENTS_COMMANDS.mmd
  docs/architecture-understanding/2025-09-10_22_34-IMPROVED_ARCHITECTURE.mmd
  docs/architecture-understanding/2025-09-10_22_34-IMPROVED_EVENTS_COMMANDS.mmd
  docs/complaints/2025-09-10_22_34-ARCHITECTURAL_REFACTORING_SESSION.md
  docs/learnings/2025-09-10_22_34-COMPREHENSIVE_ARCHITECTURAL_REFACTORING_LEARNINGS.md
  docs/prompts/2025-09-10_22_34-SYSTEMATIC_ARCHITECTURAL_REFACTORING_PROMPT.md
  go.mod
  internal/domain/services/user_query_service.go
  internal/domain/services/user_service.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

fix: Resolve 11 failing validation tests with What/Reassure/Why/Fix/Escape patterns
  internal/domain/values/email.go
  internal/domain/values/user_id.go
  internal/domain/values/username.go
  internal/domain/values/values_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

fix: Add missing JWT configuration to valid test config
  internal/config/config_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

feat: Complete comprehensive architectural refactoring with brutal honesty assessment
  docs/architecture-understanding/2025-09-11_17_20-CURRENT_ARCHITECTURE.mmd
  docs/architecture-understanding/2025-09-11_17_20-EVENTS_COMMANDS-IMPROVED.mmd
  docs/architecture-understanding/2025-09-11_17_20-EVENTS_COMMANDS.mmd
  docs/architecture-understanding/2025-09-11_17_20-IMPROVED_ARCHITECTURE.mmd
  docs/complaints/2025-09-11_17_20-SPLIT_BRAIN_REFACTORING_SESSION.md
  docs/learnings/2025-09-11_17_20-SPLIT_BRAIN_REFACTORING_LEARNINGS.md
  docs/planning/2025-09-11_17_20-COMPREHENSIVE_EXECUTION_PLAN.md
  docs/prompts/2025-09-11_17_20-ARCHITECTURAL_REFACTORING_WITH_BRUTAL_HONESTY.md
  internal/domain/entities/user.go
  internal/domain/entities/user_json_test.go
  internal/domain/entities/user_split_brain_test.go
  internal/domain/entities/user_test.go
  internal/domain/repositories/inmemory_user_repository.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_bench_test.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/email.go
  internal/domain/values/username.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

fix: Resolve architecture configuration and add comprehensive issue tracking
  .go-arch-lint.yml
  ISSUE_LIST.md
  internal/domain/entities/user_json_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

docs: Reorganize and standardize .md file structure with timestamps
  docs/2025-08-26_18-04_GITHUB_CICD_SETUP.md
  docs/2025-08-26_18-04_GITHUB_WORKFLOWS_README.md
  docs/2025-08-26_18-04_PERFORMANCE_ANALYSIS.md
  docs/2025-08-26_18-04_TESTHELPERS_README.md
  docs/2025-08-26_18-04_TESTHELPERS_USAGE_GUIDE.md
  docs/2025-08-26_18-04_USER_DOCUMENTATION.md
  docs/2025-08-26_18-04_X_TOOLS_ANALYSIS.md
  docs/2025-09-07_02-47_QUICK_START.md
  docs/2025-09-07_02-48_TEMPLATE_CONFIGS_QUICK_START.md
  docs/2025-09-07_02-49_TEMPLATE_CONFIGS_README.md
  docs/2025-09-12_12-42_ISSUE_LIST.md
  docs/learnings/2025-08-26_18-04_MODERNIZATION_LEARNINGS.md
  docs/planning/2025-08-26_18-04_EXECUTION_PLAN.md
  docs/troubleshooting/2025-09-06_22-53_CONFIG_TEST_ISSUES.md
Due: check-problematic-filenames

fix: Resolve critical code quality issues and architecture configuration
  .go-arch-lint.yml
  internal/config/config_test.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/values/env_var.go
  internal/domain/values/log_level.go
  internal/domain/values/username.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

🚀 feat: Upgrade to golangci-lint 2.6.0 with enterprise enhancements
  UPDATE_SUMMARY.md
  go.mod
  go.sum
  justfile
Due: go-mod-tidy, check-problematic-filenames

🚀 feat: Upgrade go-arch-lint to v1.13.0 with enhanced capabilities
  .go-arch-lint.yml
  justfile
Due: check-problematic-filenames

feat(security): integrate Google's capslock capability analysis tool
  .github/workflows/benchmark.yml
  .github/workflows/ci-working.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/status.yml
  .github/workflows/test.yml
  go.mod
  go.sum
  internal/config/config_test.go
  internal/domain/entities/user_json_test.go
  internal/domain/entities/user_split_brain_test.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_bench_test.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/env_var.go
  internal/domain/values/log_level.go
  internal/domain/values/port.go
  justfile
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

chore(go): upgrade Go version to 1.25.4
  go.mod
Due: go-mod-tidy, check-problematic-filenames

fix: resolve critical golangci-lint version mismatch and enable enterprise HTML reporting
  go.mod
  go.sum
Due: go-mod-tidy, check-problematic-filenames

feat: update architecture graph and improve .gitignore
  .gitignore
  go-arch-lint-graph.svg
Due: check-problematic-filenames

refactor: Consolidate test files and cleanup temporary session scripts
  test-bootstrap-bdd.sh
  test-bootstrap-local.sh
  test-bootstrap-simple-bdd.sh
  test-bootstrap-ubuntu.sh
  test-complete-workflow.sh
  test-path-verification.sh
  test-simple-bootstrap.sh
Due: check-problematic-filenames

docs: Document GitHub Issues organization into versioned milestones
  GITHUB_ISSUES_ORGANIZATION.md
Due: check-problematic-filenames

chore(deps): upgrade charmbracelet/log to v0.4.2 and modernize goroutine patterns
  go.mod
  go.sum
  internal/domain/services/user_service_concurrent_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

refactor: move error management from internal/domain/errors to pkg/errors
  .go-arch-lint.d/error-centralization.yml
  .go-arch-lint.d/errors-rules.yml
  .go-arch-lint.yml
  MIGRATION_PLAN.md
  internal/domain/entities/user.go
  internal/domain/repositories/inmemory_user_repository.go
  internal/domain/repositories/user_repository.go
  internal/domain/services/user_query_service.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_error_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/email.go
  internal/domain/values/log_level.go
  internal/domain/values/port.go
  internal/domain/values/user_id.go
  internal/domain/values/username.go
  internal/domain/values/validation_test.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
  pkg/errors/service_errors.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

refactor: eliminate unnecessary fmt.Errorf wrapping in domain layer
  internal/domain/services/user_service.go
  internal/domain/values/user_id.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

refactor: convert configuration layer to centralized errors
  ERROR_MIGRATION_STATUS.md
  internal/config/config.go
  pkg/errors/service_errors.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

docs: create comprehensive architectural excellence execution plan
  docs/planning/2025-11-14_17_58-ARCHITECTURAL_EXCELLENCE_PLAN.md
  docs/planning/2025-11-14_18_00-DETAILED_EXECUTION_TASKS.md
Due: check-problematic-filenames

refactor: simplify Go function parameter declarations in domain value tests
  internal/domain/values/validation_test.go
  internal/domain/values/values_test.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

refactor: organize markdown files with timestamped naming
  docs/migration/2025-11-14_17-16_MIGRATION_PLAN.md
  docs/migration/2025-11-14_17-42_ERROR_MIGRATION_STATUS.md
  docs/planning/2025-11-04_07-51_UPDATE_SUMMARY.md
  docs/planning/2025-11-08_19-15_TESTING_ORGANIZATION_PLAN.md
  docs/planning/2025-11-09_00-23_GITHUB_ISSUES_ORGANIZATION.md
  docs/testing/2025-11-08_17-17_TESTING_README.md
  docs/testing/2025-11-08_19-41_TESTING_FRAMEWORK.md
Due: check-problematic-filenames

feat: comprehensive hexagonal architecture analysis and dependency updates
  docs/status/2025-11-19_18_10-HEXAGONAL_ARCHITECTURE_COMPREHENSIVE_ANALYSIS.md
  go.mod
  go.sum
  internal/infrastructure/database.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames

feat: create comprehensive template architecture excellence execution plan
  docs/planning/2025-11-19_19_16-TEMPLATE_ARCHITECTURE_EXCELLENCE_EXECUTION_PLAN.md
Due: check-problematic-filenames

fix: resolve critical self-violations and restore template credibility
  .go-arch-lint.yml
  .golangci.yml
  cmd/linter/main.go
  justfile
Due: go-arch-lint, golangci-lint, gofmt, goimports, check-problematic-filenames

feat: complete application layer and restore template credibility
  .go-arch-lint.yml
  cmd/linter/main.go
  cmd/main.go
  docs/status/2025-11-19_20_21-PHASE_1_COMPLETE_APPLICATION_LAYER_CREATED.md
  go.mod
  go.sum
  internal/application/dto/user_dto.go
  internal/application/handlers/user_handler.go
Due: go-arch-lint, golangci-lint, gofmt, goimports, go-mod-tidy, check-problematic-filenames
