Repository LarsArtmann/template-arch-lint: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Domain Layer, Application Layer, Infrastructure Layer, Configuration

refactor(linting): simplify golangci-lint configuration for maintainability
  .golangci.yml
  go.sum
Due: none

docs(planning): add executive report for project split into focused repositories
  PROJECT_SPLIT_EXECUTIVE_REPORT.md
Due: none

refactor(linting): reorganize golangci-lint configuration with alphabetical ordering
  .golangci.yml
Due: none

docs(analysis): add component extraction analysis for repository split
  PARTS.md
Due: none

build(deps): update Go to 1.26.0 and refresh dependencies
  go.mod
  go.sum
Due: none

feat(linter-plugin): initialize template-arch-lint plugin with foundation
  pkg/linter-plugins/template-arch-lint/.gitignore
  pkg/linter-plugins/template-arch-lint/CHANGELOG.md
  pkg/linter-plugins/template-arch-lint/LICENSE
  pkg/linter-plugins/template-arch-lint/README.md
  pkg/linter-plugins/template-arch-lint/go.mod
Due: none

refactor: improve code quality, test patterns, and documentation formatting
  .golangci.yml
  PARTS.md
  PROJECT_SPLIT_EXECUTIVE_REPORT.md
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_query_handler_working_test.go
  internal/domain/entities/user_json_test.go
  internal/domain/entities/user_test.go
  internal/domain/services/user_service_concurrent_test.go
  pkg/linter-plugins/template-arch-lint/CHANGELOG.md
Due: unit, Application Layer

test(values): extract security validation helper to eliminate duplication
  internal/domain/values/validation_test.go
Due: none

refactor(domain): integrate go-composable-business-types/id for branded strongly-typed identifiers
  docs/planning/go-composable-business-types-usage.md
  go.mod
  go.sum
  internal/domain/entities/user.go
  internal/domain/ids/ids.go
  internal/domain/ids/ids_test.go
  internal/domain/services/user_query_service.go
  internal/domain/values/user_id.go
  internal/domain/values/values_test.go
Due: unit, Domain Layer

refactor(dependencies): integrate go-composable-business-types for branded strongly-typed identifiers
  docs/planning/go-composable-business-types-usage.md
  go.mod
  go.sum
  internal/application/handlers/user_query_handler_working_test.go
  internal/config/config.go
  internal/domain/entities/user_json_test.go
  internal/domain/entities/user_split_brain_test.go
  internal/domain/entities/user_test.go
  internal/domain/ids/ids.go
  internal/domain/repositories/inmemory_user_repository.go
  internal/domain/services/user_query_service.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_bench_test.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_crud_test.go
  internal/domain/services/user_service_error_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/env_var.go
  internal/domain/values/port.go
  internal/domain/values/user_session.go
  internal/domain/values/username.go
  internal/domain/values/validation_test.go
  internal/domain/values/values_test.go
  pkg/errors/errors.go
  pkg/linter-plugins/template-arch-lint/code_duplication.go
  pkg/linter-plugins/template-arch-lint/filename_validator.go
  pkg/linter-plugins/template-arch-lint/import_cycles.go
Due: unit, Domain Layer, Configuration

chore(config,domain): extract magic numbers to named constants with polished error messages
  .gitattributes
  .gitignore
  .golangci.yml
  AUTHORS
  CHANGELOG.md
  cmd/main.go
  go.sum
  internal/application/handlers/user_handler.go
  internal/config/config.go
  internal/domain/ids/ids.go
  internal/domain/services/user_service.go
  internal/domain/values/email.go
  internal/domain/values/log_level.go
  internal/domain/values/user_session.go
  internal/domain/values/username.go
Due: unit, Domain Layer, Application Layer, Configuration

refactor(error-handling): comprehensive implementation of standard Go error handling patterns
  .golangci.yml
  CHANGELOG.md
  cmd/main.go
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_query_handler.go
  internal/application/handlers/user_query_handler_working_test.go
  internal/config/config.go
  internal/config/config_load_test.go
  internal/config/config_test.go
  internal/domain/entities/user_json_test.go
  internal/domain/entities/user_split_brain_test.go
  internal/domain/entities/user_test.go
  internal/domain/ids/ids.go
  internal/domain/ids/ids_test.go
  internal/domain/repositories/inmemory_user_repository.go
  internal/domain/services/user_query_service.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_bench_test.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_error_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/email.go
  internal/domain/values/log_level.go
  internal/domain/values/port.go
  internal/domain/values/user_enums.go
  internal/domain/values/user_session.go
  internal/domain/values/username.go
  internal/domain/values/validation_test.go
  internal/domain/values/values_test.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Due: unit, Domain Layer, Application Layer, Configuration

refactor(error-handling): eliminate variable shadowing in validation functions
  internal/config/config.go
  internal/domain/services/user_service.go
  internal/domain/values/email.go
  internal/domain/values/username.go
Due: unit, Domain Layer, Configuration

refactor(domain): introduce type-safe domain IDs value objects
  .go-arch-lint.yml
  README.md
  internal/domain/values/user_session.go
  internal/infrastructure/db/models.go
  internal/infrastructure/db/querier.go
  sqlc.yaml
Due: unit, Domain Layer, Infrastructure Layer

style(arch-lint): normalize comment spacing in dependency rules
  .go-arch-lint.yml
Due: none

style(golangci-lint): enhance dependency whitelist and add depguard rules
  .golangci.yml
  go.mod
  go.sum
  internal/application/handlers/user_handler.go
  internal/domain/entities/user.go
  internal/domain/repositories/inmemory_user_repository.go
  internal/domain/services/user_query_service.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_crud_test.go
  internal/domain/services/user_service_error_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/email.go
  internal/domain/values/port.go
  internal/domain/values/user_enums.go
  internal/domain/values/username.go
  pkg/errors/service_errors.go
Due: unit, Domain Layer, Application Layer

refactor(tests): comprehensive code deduplication across codebase
  docs/status/2026-03-25_21-55_CODE_DEDUPLICATION_SESSION_COMPLETE.md
  internal/application/handlers/user_handler.go
  internal/domain/ids/ids_test.go
  internal/domain/services/testhelpers/user_id.go
  internal/domain/services/user_query_service.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_crud_test.go
  internal/domain/services/user_service_error_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/validation_test.go
  internal/domain/values/values_test.go
Due: unit, Domain Layer, Application Layer

docs(deduplication): create comprehensive code deduplication documentation suite
  docs/deduplication/README.md
  docs/deduplication/deduplication-executive-summary.md
  docs/deduplication/remaining-production-duplicates.md
  docs/deduplication/test-intentional-duplicates.md
  internal/application/handlers/errorhandler.go
  internal/application/handlers/user_query_handler.go
  internal/domain/entities/user.go
Due: unit, Domain Layer, Application Layer

refactor(logging): migrate from charmbracelet/log to charm.land/log/v2
  cmd/main.go
  go.mod
  go.sum
  internal/application/handlers/user_handler.go
Due: unit, Application Layer

chore: import ordering, markdown formatting, and trailing newline fixes
  cmd/main.go
  docs/deduplication/README.md
  docs/deduplication/deduplication-executive-summary.md
  docs/deduplication/remaining-production-duplicates.md
  docs/deduplication/test-intentional-duplicates.md
  docs/status/2026-03-25_21-55_CODE_DEDUPLICATION_SESSION_COMPLETE.md
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_query_handler.go
Due: unit, Application Layer

chore: upgrade dependencies, remove unused transitive dependencies
  go.mod
  go.sum
Due: none

chore: upgrade Go to 1.26.2, sqlc to v1.31.1, and reformat linting configuration
  .gitignore
  .golangci.yml
  go.mod
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_query_handler.go
  internal/application/handlers/user_query_handler_working_test.go
  internal/config/config.go
  internal/domain/entities/user_test.go
  internal/domain/ids/ids_test.go
  internal/domain/services/user_service.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_crud_test.go
  internal/domain/services/user_service_error_test.go
  internal/domain/services/user_service_test.go
  internal/domain/values/validation_test.go
  internal/domain/values/values_test.go
  internal/infrastructure/db/db.go
  internal/infrastructure/db/models.go
  internal/infrastructure/db/querier.go
Due: unit, Domain Layer, Application Layer, Infrastructure Layer, Configuration

chore: upgrade to go-branded-id library, add blank lines before returns
  .golangci.yml
  go.mod
  go.sum
  internal/application/handlers/errorhandler.go
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_query_handler.go
  internal/domain/entities/user.go
  internal/domain/ids/ids.go
  internal/domain/services/testhelpers/user_id.go
  internal/domain/services/user_service_concurrent_test.go
  internal/domain/services/user_service_error_test.go
  internal/domain/values/user_id.go
Due: unit, Domain Layer, Application Layer

chore: add Git Town configuration for branching strategy
  git-town.toml
Due: none

chore: downgrade sqlc version comment in generated files from v1.31.1 to v1.31.0
  internal/infrastructure/db/db.go
  internal/infrastructure/db/models.go
  internal/infrastructure/db/querier.go
Due: unit, Infrastructure Layer

refactor: enhance error context propagation with input values across domain layer
  internal/domain/entities/user.go
  internal/domain/ids/ids.go
  internal/domain/services/user_query_service.go
  internal/domain/services/user_service.go
  internal/domain/values/email.go
  internal/domain/values/log_level.go
  internal/domain/values/port.go
  internal/domain/values/user_session.go
  internal/domain/values/username.go
  internal/infrastructure/database.go
Due: unit, Domain Layer, Infrastructure Layer

refactor: apply consistent multi-line error formatting to remaining domain layer files
  internal/domain/entities/user.go
  internal/domain/services/user_query_service.go
  internal/domain/services/user_service.go
  internal/domain/values/user_session.go
Due: unit, Domain Layer

refactor: modernize domain values layer with style fixes and performance improvements
  internal/domain/services/user_query_service.go
  internal/domain/values/email.go
  internal/domain/values/user_enums.go
  internal/domain/values/user_id.go
  internal/domain/values/user_session.go
  internal/domain/values/username.go
Due: unit, Domain Layer

refactor: improve resource management, test safety, and validation test organization
  cmd/main.go
  internal/application/handlers/user_query_handler_working_test.go
  internal/config/config_load_test.go
  internal/domain/values/validation_test.go
Due: unit

docs: add DOMAIN_LANGUAGE.md as unified terminology reference
  docs/DOMAIN_LANGUAGE.md
Due: none

docs: improve DOMAIN_LANGUAGE.md table formatting and blockquote structure
  docs/DOMAIN_LANGUAGE.md
Due: none

config: reformat .golangci.yml with consistent 4-space indentation and enhanced linter settings
  .golangci.yml
Due: none

test(domain/values): add blank line separator between import groups in validation_test.go
  internal/domain/values/validation_test.go
Due: none

config: reformat .golangci.yml indentation from 4-space to 2-space
  .golangci.yml
Due: none

test(domain/values): add validation tests
  internal/domain/values/validation_test.go
Due: none

refactor(application): remove Gin framework, migrate to stdlib net/http
  cmd/main.go
  go.mod
  go.sum
  internal/application/handlers/errorhandler.go
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_query_handler.go
  internal/application/handlers/user_query_handler_working_test.go
Due: unit, Application Layer

refactor(application/handlers): apply consistent formatting patterns across HTTP handlers
  internal/application/handlers/user_handler.go
  internal/application/handlers/user_query_handler.go
  internal/application/handlers/user_query_handler_working_test.go
Due: unit, Application Layer

style(tests): apply consistent multi-line DescribeTable formatting patterns
  internal/domain/entities/user_json_test.go
  internal/domain/services/user_service.go
  internal/domain/values/validation_test.go
  internal/domain/values/values_test.go
Due: unit, Domain Layer

chore(db): upgrade sqlc from v1.31.0 to v1.31.1 and regenerate database layer
  internal/infrastructure/db/db.go
  internal/infrastructure/db/models.go
  internal/infrastructure/db/querier.go
Due: unit, Infrastructure Layer

chore(config): reformat .golangci.yml with structural improvements and linter refinements
  .golangci.yml
  internal/domain/values/validation_test.go
Due: none

Path conditions:
  unit: any of: internal/, cmd/, but not: **/*_test.go, **/testdata/**, **/test/**, **/tests/**, **/mock_*, **/*_mock.go, **/*_gen.go, **/*_generated.go, **/*_templ.go, **/vendor/**, **/bin/**, **/build/**, **/dist/**, **/*.pb.go, web/static/**, **/examples/**, **/docs/**
  Domain Layer: any of: internal/domain/**, but not: **/*_test.go, **/testdata/**, **/test/**, **/tests/**, **/mock_*, **/*_mock.go, **/*_gen.go, **/*_generated.go, **/*_templ.go, **/vendor/**, **/bin/**, **/build/**, **/dist/**, **/*.pb.go, web/static/**, **/examples/**, **/docs/**
  Application Layer: any of: internal/application/**, but not: **/*_test.go, **/testdata/**, **/test/**, **/tests/**, **/mock_*, **/*_mock.go, **/*_gen.go, **/*_generated.go, **/*_templ.go, **/vendor/**, **/bin/**, **/build/**, **/dist/**, **/*.pb.go, web/static/**, **/examples/**, **/docs/**
  Infrastructure Layer: any of: internal/infrastructure/**, but not: **/*_test.go, **/testdata/**, **/test/**, **/tests/**, **/mock_*, **/*_mock.go, **/*_gen.go, **/*_generated.go, **/*_templ.go, **/vendor/**, **/bin/**, **/build/**, **/dist/**, **/*.pb.go, web/static/**, **/examples/**, **/docs/**
  Configuration: any of: internal/config/**, internal/container/**, but not: **/*_test.go, **/testdata/**, **/test/**, **/tests/**, **/mock_*, **/*_mock.go, **/*_gen.go, **/*_generated.go, **/*_templ.go, **/vendor/**, **/bin/**, **/build/**, **/dist/**, **/*.pb.go, web/static/**, **/examples/**, **/docs/**
